@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-size: 62.5%;
  --cream: hsl(28, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(157, 82%, 9%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --header-font-family: "Fraunces";
  --text-font-family: "Montserrat";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: var(--cream);
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  background: var(--white);
  width: 32rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.img {
  background: url(./images/image-product-mobile.jpg);
  background-size: 100% 20rem;
  background-repeat: no-repeat;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 20rem auto;
  /* width: 100%;
  object-fit: contain; */
}

.description-section {
  grid-row-start: 2;
  padding: 2rem;
  font-family: var(--text-font-family);
  font-size: 1.4rem;
  font-weight: 550;
  color: var(--dark-grayish-blue);
}

.description-section h6 {
  font-family: var(--text-font-family);
  font-size: 1.2rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.description-section h1 {
  font-family: var(--header-font-family);
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--very-dark-blue);
  margin-bottom: 1.2rem;
}

.desc-text {
  margin-bottom: 2rem;
}

.price {
  display: inline-block;
  font-family: var(--header-font-family);
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-cyan);
  margin-right: 2rem;
}

.old-price {
  display: inline-block;
  font-family: var(--text-font-family);
  vertical-align: super;
}

.description-section button {
  display: inline-block;
  width: 100%;
  padding: 2rem 0;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: var(--text-font-family);
  font-weight: 600;
  margin-top: 1.5rem;
}

.description-section button > img {
  margin-right: 1rem;
}

.description-section button:hover {
  background-color: var(--darker-cyan);
}

/* Attribution styles */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive design */

@media only screen and (max-width: 320px) {
  main {
    height: fit-content;
    background: var(--white);
  }
  .container {
    width: 100%;
    margin-bottom: 1.5rem;
    box-shadow: 0 0.1rem 0.9rem var(--dark-grayish-blue);
  }
  .img {
    border-radius: 0;
  }
  .description-section {
    padding-top: 2rem;
  }
  .description-section h1 {
    font-size: 2.3rem;
  }
  .desc-text {
    line-height: 1.5;
  }
  .price {
    font-size: 2.2rem;
  }
  .old-price {
    vertical-align: bottom;
  }
  .description-section button {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 562px) {
  .container {
    width: 50rem;
  }
  .img {
    background: url(./images/image-product-desktop.jpg);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
  }
  .description-section {
    grid-column-start: 2;
    padding: 2rem;
    font-family: var(--text-font-family);
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--dark-grayish-blue);
  }
  .desc-text {
    line-height: 1.8;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 60rem;
  }
  .description-section {
    padding: 3rem;
  }
  .description-section h6 {
    margin-bottom: 2rem;
  }
  .description-section h1 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .description-section button {
    margin-top: 2.5rem;
    padding: 1.5rem 0;
  }
}
